<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektronski Dnevnik</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../main.css">
</head>
<body>


<header><h1>Elektronski Dnevnik</h1></header>
<main id="razredi">
    {% for predmet in predmeti %}
    <a href="{{ url('spisakUcenika', {'token':token, 'nastavnik':nastavnik, 'odeljenjeId':odeljenjeId, 'predmetId':predmet.id}) }}"><button class="btn btn-default button-razredi">{{  predmet.naziv}}</button></a>
    {% endfor %}
    <a href="{{ url('spisakOdeljenjaNastavnik', {'token':token, 'nastavnik':nastavnik}) }}"><button class="btn btn-default button-razredi" style="margin-top: 50px;">Nazad</button></a>

</main>
<footer></footer>


</body>
</html>